
<h2> <%= @new_word.word %> </h2>



<form action="/add_definition/<%= @new_word.id %>" method="post">
  <div class="form-group">
    <label for="input-definition">Add a definition:</label>
    <input id="input-definition" name="input-definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Add Definition</button>
</form>
