<h2> <%= new_word.word %> </h2>

 <!-- <% if @dictionary.definition %> -->

<h3> <%= new_word.definition %> </h3>
<br>

<!-- # <% end %> -->


<form action="/add_definition" method="post">
  <div class="form-group">
    <label for="input-definition">Add a definition:</label>
    <input id="input-definition" name="input-definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
