
<h2> <%= @new_word.word %> </h2>

<form action="/definition/<%= @new_word.id %>"

  <br>
  <h3> <%= @new_word.define %> </h3>
  <br>

</form>

<form action="/definition" method="get">
  <div class="form-group">
    <label for="input-definition">Add a definition:</label>
    <input id="input-definition" name="input-definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
