
<h2> <%= @new_word.word %> </h2>


<% if @definitions.any?() %>
<% @definitions.each do |new_def| %>
  <ul>
  <li><a href= "/definition/<%= new_word.id() %>"><%= new_def.definition() %></a>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p>There are no definitions yet</p>
  <% end %>
