<h1>Dictionary</h1>

<p>Click on a word to view/ add a definition</p>

<% if @dictionary.any?() %>
<% @dictionary.each do |new_word| %>
  <ul>
  <li><a href= "/definition/<%= new_word.id() %>"><%= new_word.word() %></a>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p>There are no words yet</p>
  <% end %>
